body {
  background-color: #506969; 
  color: #333;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}

.app-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 15px;
  background-color: #a9d1d3; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #000000; 
  text-align: center;
  margin-bottom: 40px;
  font-size: 36px;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 30px;
  padding: 20px;
  border: 2px solid #000000; 
  border-radius: 10px;
  background-color: #f3f3f3; 
  justify-content: space-between;
}

.input-container label {
  flex-basis: 100%;
  font-weight: bold;
  color: #000000; 
}

.input-container select,
.input-container input {
  flex-basis: 100%;
  padding: 10px;
  border: 2px solid #a89f91;
  border-radius: 5px;
  background-color: #fff; 
  font-size: 16px;
}

button {
  flex-basis: 100%;
  background-color: #5d818a; 
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

button:hover {
  background-color: #536e7d; 
}

.dia-container {
  margin-bottom: 30px;
}

h2 {
  color: #000000; 
  margin-bottom: 15px;
  font-size: 28px;
  text-align: center;
}

.periodo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #f5f0eb;
  margin-bottom: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.periodo-container strong {
  color: #000000;
  font-size: 18px;
}

.periodo-container div {
  flex-grow: 1;
  padding-left: 15px;
  font-size: 16px;
}

.button-remover {
  flex-basis: 5%;
  background-color: #a89f91; 
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 10px; 
  width: 10px;
}

.button-remover:hover {
  background-color: #8e735b; 
}

.button-concluir {
  width: 100px;
  background-color: #285b6f; 
  color: white;
  font-size: 14px; 
  padding: 2px 4px; 
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-width: 77px;
}

.button-concluir:hover {
  background-color: #486d74; 
}

.button-progresso {
  position: relative;
  margin: 20px auto;
  display: block;
  background-color: #5b888e;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-progresso:hover {
  background-color: #53707d;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  text-align: center;
  position: relative;
}

.modal-content h2 {
  margin-bottom: 20px;
}

button.button-close {
  background-color: #91a5a8;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

button.button-close:hover {
  background-color: #5b828e; 
}


.dias-semana-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 40px; 
  padding: 20px;
}

.dia-container {
  background-color: #f5f0eb; 
  padding: 1px;
  border-radius: 10px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
  text-align: center; 
  transition: transform 0.3s; 
}

.dia-container:hover {
  transform: scale(1.05); 
}

.dia-container h2 {
  color: #473232; 
  margin-bottom: 15px;
  font-size: 24px;
}

@media screen and (max-width: 600px) {
  .input-container select,
  .input-container input {
    flex-basis: 100%;
  }

  .button-progresso {
    padding: 10px 15px;
    font-size: 16px;
  }

  .dia-container h2 {
    font-size: 24px;
  }

  .periodo-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .periodo-container div {
    padding-left: 0;
  }

  .dias-semana-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
  }

  .dia-container {
    background-color: #f5f0eb;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }

  .dia-container h2 {
    font-size: 24px;
    color: #000000;
    margin-bottom: 15px;
  }

  @media (max-width: 768px) {
    .dias-semana-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 480px) {
    .dias-semana-grid {
      grid-template-columns: 1fr;
    }
  }
}
